* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary: #efdb00;
  --darkPrimary: #dbc30f;
  --background: #141414;
  --black: #010101;
  --blackLighter: #333333;
  --grayLight: #f5f5f5;
  --gray: #c7c7cc;
  --white: #ffffff;
  --bluePrimary: #030077;
  --blueSecondary: #005387;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}

a {
  color: inherit;
}
